.questions__section
	background: radial-gradient(at 10% 80%, #e54347 45%, #a7181d 100%)

.questions__container
	padding: 81px 0 90px 0

.questions__title
	font-size: 40px
	color: $white
	text-align: center
	margin-bottom: 56px

.quetions__list
	max-width: 894px
	margin: 0 auto
	list-style-type: decimal

.questions__item
	list-style-type: decimal
	font-size: 22px
	+arial
	color: $white
	margin-bottom: 43px

	&:last-child
		margin-bottom: 0

	p
		font-size: 14px
		+arial
		color: $white
		padding-left: 47px

.questions__item-title
	font-size: 22px
	+arial()
	color: $white
	margin-bottom: 5px
	border-bottom: dashed 3px $white

